@font-face {
    font-family: "Torus";
    src: url("https://osu.ppy.sh/assets/fonts/Torus-Regular.734ed3ae.otf")
        format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body,
.content_wrapper {
    height: 100%;
    overflow: hidden;
    font-size: 100%;
}

body,
button,
input,
select {
    font-family: "Torus", Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Sans GB",
        "Microsoft YaHei", "Apple SD Gothic Neo", system-ui, sans-serif;
}

textarea {
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #8561f2 transparent;
    max-width: 100%;
    min-height: 200px;
}

.named > div > textarea {
    min-height: 350px;
    min-width: 500px;
}

input,
select,
textarea {
    align-self: stretch;
    background: none;
    filter: invert(0%) !important;
    border: 2px solid transparent;
    border-radius: 4px;
    flex: 1;
    font-weight: 400;
    max-width: 250px;
    outline: none;
    padding: 5px;
}

input[type="text"]:not(.CodeMirror input),
textarea,
select[multiple] {
    background-color: #3d3946;
    border: 2px solid transparent;
}

input[type="text"]:not(.CodeMirror input):focus,
select[multiple]:focus {
    border-color: #c2b8e0;
}

input {
    margin: 0;
    margin-right: 0.4rem;
}

.dark input[type="button"],
button {
    background-color: #5639ac;
    min-width: 128px;
    width: fit-content;
    overflow: hidden;
    padding: 7px 10px;
    position: relative;
    text-align: left;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-right: 0.4em;
    outline: none;
    text-transform: none;
    transition: background-color 0.12s;
    vertical-align: middle;
    white-space: nowrap;
}

.dark button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: invert(0%) !important;
    color: #fff;
}

.dark button:disabled {
    background-color: #534972;
}

.dark input[type="button"]:hover {
    background-color: hsl(255, 100%, 70%);
    color: hsl(255, 40%, 100%);
}

input[type="button"].button {
    height: fit-content;
    margin-bottom: 0.4em;
}

.head_container {
    padding-top: 0.5rem;
    height: 5em;
    font-size: 85%;
    position: fixed;
    width: 100%;
}

.tr_content {
    z-index: 0;
    position: relative;
}

.tr_tabs {
    position: relative;
    z-index: 1;
    height: 2.2em;
    background-color: transparent;
}

.tv_tabs_fill {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.tv_tabs_table {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 2.6em;
    height: 2.6em;
    max-width: 100%;
    overflow: visible;
}

.tv_tabs_align {
    display: flex;
    white-space: nowrap;
    padding-left: 1px;
    position: relative;
    max-height: 2.6em;
    margin: 0 20px 2px 20px;

    color: #b3a6d9;
    background-color: #2e293d;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #363636;
}

.tv_container_fit {
    top: 2em;
}

.dark .tv_tab {
    color: #b3a6d9;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: none;
    padding: 0.4em 1em 1em 1em;
    margin: 0 0 0 0;
    border-bottom: 1px solid #8c66ff !important;
    transition: all 0.2s ease;
}

.tv_tab:hover {
    background-color: transparent;
    border-color: transparent;
}

.tv_tab:before,
.tv_tab:after {
    display: none;
}

.tv_selected {
    background-color: transparent !important;
}

.tv_tabs_align .tv_tab.tv_selected::before {
    background-color: #8561f2;
    bottom: -3px;
    left: 50%;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
    border-radius: 10000px;
    transition: inherit;
    transform: translateX(-50%) scaleY(1);
    border: none;
    box-shadow: none;
}

.tv_tab .far {
    margin-top: 0.1em;
}

.desktop .tv_content {
    width: 100%;
}

.tr_content,
.td_content,
.section {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
}

.section_head {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    padding: 20px 80px 20px 50px;
}

.section_content {
    padding: 20px 80px 20px 160px;
    width: 100%;
}

table.section_content {
    display: block;
}

div.section_content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

table {
    border-collapse: separate;
    border-spacing: 0 6px;
}

.settingsta[name="用户 CSS"] {
    min-height: 800px;
    min-width: 700px;
    padding: 1em;
}

.dark input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid #5e4a9c;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: #8c66ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%238c66ff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}

.dark {
    textarea {
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;
        min-height: 200px;
    }

    table {
        color: #fff;
    }

    input,
    select,
    textarea {
        background-color: #3d3946;
        color: #fff;
    }

    :is(input, select, textarea):focus {
        border-color: #c2b8e0;
    }

    .head_container {
        background-color: #221f2e;
    }

    .tr_tabs {
        background-color: transparent;
    }

    .tv_tab:hover {
        background-color: transparent;
        color: #fff;
        border-color: transparent;
    }

    .tv_tab:before,
    .tv_tab:after {
        display: none;
    }

    .tv_selected {
        background-color: transparent !important;
        color: #ffffff;
    }

    .tv_selected:before {
        box-shadow: none !important;
        border: none !important;
    }

    .section_head {
        background-color: #24222a;
        color: #fff;
    }

    .section_content {
        background-color: #302e38;
    }

    .settingstr {
        color: #948fa3;
    }
}
